<div class="container text-center">
    <h1>About Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, iste, molestias totam provident animi iure incidunt quisquam repellendus unde
       doloremque odit soluta mollitia esse aspernatur labore molestiae eos facilis! Dolore.</p>
</div>